# Tabular Data

## DataFrames

### Exercise 5
Use the data from exercise 4 above â€“ load the CSV into a DataFrame. Perform the following operations:  
  
a. Display the first five and last five rows.  
b. Display a table containing only dates that have a volume of at least 10,000,000.  
c. Display the total volume.  
d. Display the average daily volume.  
e. Add a column containing the daily â€˜returnâ€™, using the following formula:  
\begin{equation}
    \begin{aligned}
        r = \frac{S_1 - S_0}{S_0}
    \end{aligned}
\end{equation}
ğ‘†0 = ğ‘ƒğ‘Ÿğ‘’ğ‘£ğ‘–ğ‘œğ‘¢ğ‘  ğ‘†ğ‘¡ğ‘œğ‘ğ‘˜ ğ¶ğ‘™ğ‘œğ‘ ğ‘’
ğ‘†1 = ğ‘†ğ‘¡ğ‘œğ‘ğ‘˜ ğ¶ğ‘™ğ‘œğ‘ ğ‘’
We will ignore dividends here for simplicity.
f. Calculate the average daily return.
g. Calculate the volume-weighted average daily return.
h. Add a column containing the 1-week (5-day) moving average volume.
i. Add a column containing the 1-week (5-day) moving average daily return.

In [1]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [9]:
import pandas_datareader as pdr

aapl = pdr.DataReader('AAPL',
                      start='2020-1-1',
                      end='2020-12-31',
                      data_source='yahoo')
aapl

aapl.to_csv('aapl_data.csv')  # Load to CSV

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,74.573036
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.848030
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,74.436470
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,74.086395
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,75.278160
...,...,...,...,...,...,...
2020-10-12,125.180000,119.279999,120.059998,124.400002,240226800.0,124.400002
2020-10-13,125.389999,119.650002,125.269997,121.099998,262330500.0,121.099998
2020-10-14,123.029999,119.620003,121.000000,121.190002,151062300.0,121.190002
2020-10-15,121.199997,118.150002,118.720001,120.709999,112559200.0,120.709999
2020-10-16,121.550003,118.809998,121.279999,119.019997,115073800.0,119.019997