# Tabular Data

## Loading Data

### Exercise 4
Use the pandas-datareader library to load the same data as exercise 1 above.  
Save the DataFrame into a .csv file. Save this CSV file for the exercises below.

In [1]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [11]:
import pandas_datareader as pdr

aapl = pdr.DataReader('AAPL', data_source='yahoo')
aapl

aapl.to_csv('aapl_data.csv')  # Load to CSV

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-10-21,28.895000,28.424999,28.500000,28.440001,167180800.0,26.281809
2015-10-22,28.875000,28.525000,28.582500,28.875000,166616400.0,26.683798
2015-10-23,29.807501,29.082500,29.174999,29.770000,237467600.0,27.510878
2015-10-26,29.532499,28.730000,29.520000,28.820000,265335200.0,26.632969
2015-10-27,29.135000,28.497499,28.850000,28.637501,279537600.0,26.464319
...,...,...,...,...,...,...
2020-10-12,125.180000,119.279999,120.059998,124.400002,240226800.0,124.400002
2020-10-13,125.389999,119.650002,125.269997,121.099998,262330500.0,121.099998
2020-10-14,123.029999,119.620003,121.000000,121.190002,151062300.0,121.190002
2020-10-15,121.199997,118.150002,118.720001,120.709999,112559200.0,120.709999
2020-10-16,121.550003,118.809998,121.279999,119.019997,115073800.0,119.019997