# Data Visualization

## Pandas Plotting

### Exercise 1
Create a DataFrame containing the sin of all 1/10 numbers from 0 to 50. Plot this ‘sine wave’ using Panda’s plot method.

In [2]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [10]:
import numpy as np
import pandas as pd

# Create the df
df = pd.DataFrame(np.sin(np.divide(np.arange(0, 50), 10)), columns=['sine'])
df

        sine
0   0.000000
1   0.099833
2   0.198669
3   0.295520
4   0.389418
5   0.479426
6   0.564642
7   0.644218
8   0.717356
9   0.783327
10  0.841471
11  0.891207
12  0.932039
13  0.963558
14  0.985450
15  0.997495
16  0.999574
17  0.991665
18  0.973848
19  0.946300
20  0.909297
21  0.863209
22  0.808496
23  0.745705
24  0.675463
25  0.598472
26  0.515501
27  0.427380
28  0.334988
29  0.239249
30  0.141120
31  0.041581
32 -0.058374
33 -0.157746
34 -0.255541
35 -0.350783
36 -0.442520
37 -0.529836
38 -0.611858
39 -0.687766
40 -0.756802
41 -0.818277
42 -0.871576
43 -0.916166
44 -0.951602
45 -0.977530
46 -0.993691
47 -0.999923
48 -0.996165
49 -0.982453

In [12]:
# Plot
df.plot