# Data Visualization

## Matplotlib

### Exercise 3
This exercise uses the derived data created in level 7, exercise 12. You should do the following:  
a. Plot the volume-weighted average daily returns using a line chart.  
b. Plot the moving average daily return in a separate line chart. Try using different moving windows and a gaussian smoother to see what gives you the best line without losing too
much granularity.  
c. Overlay the plots from a and b.  
d. Plot the moving average volume on the same plot.

In [1]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [3]:
import numpy as np
import pandas as pd

# Load data
scaffoldPortfolio = pd.read_csv('scaffoldPortfolio_data.csv', index_col=0)
summaryPortfolio = pd.read_csv('summaryPortfolio_data.csv', index_col=0)

scaffoldPortfolio.head()
summaryPortfolio

,Date,Ticker,Position,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,...,Open,Stock Splits,Volume,Daily Return,1-week MA Daily Return,Rolling Cumulative Volume,Daily P&L,Cumulative Daily P&L,Cumulative Daily Portfolio P&L,Yield
0,2018-01-10,MMM,15000.0,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740.0,...,220.860454,0.0,1640900.0,1.876795,0.350461,1.640580e+13,28151.927647,28151.927647,28151.927647,1.876795
0,2018-01-11,ABT,20000.0,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800.0,...,56.042228,0.0,4240900.0,-0.731959,0.201628,1.640660e+13,-14639.173012,-14639.173012,13797.058990,-0.731959
1,2018-01-11,MMM,15000.0,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740.0,...,220.622226,0.0,1487700.0,1.895749,0.353683,1.640774e+13,28436.232002,56588.159649,13797.058990,1.895749
0,2018-01-12,ABT,20000.0,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800.0,...,56.338434,0.0,6320900.0,-0.738628,0.205469,1.640853e+13,-14772.556368,-29411.729380,13664.861844,-0.738628
1,2018-01-12,MMM,15000.0,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740.0,...,222.757511,0.0,1974300.0,1.895828,0.356432,1.640979e+13,28437.418212,85025.577862,13664.861844,1.895828

  Ticker  Average Daily P&L     Total P&L        Yield
0   AAPL       -6530.059376 -2.598964e+06  -268.439727
1    ABT      -14667.919404 -7.377963e+06  -368.898173
2    ACN       25179.295709  6.445900e+06   322.294985
3   AMZN       56595.565707  2.739225e+07  4562.203015
4    MMM       42780.571413  2.156141e+07   569.108765
5   SCHW       -6727.528223 -5.382023e+05   -32.495296
6    YUM        2814.899935  8.360253e+05    54.593719
7    ZTS        9160.454303  3.261122e+06   475.512331

#### a. Plot the volume-weighted average daily returns using a line chart.